.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.text {
    flex: 1.5;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
}
.image {
    flex: 1;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.image img {
    width: 100%;
    height: 100%;
}

.tagline {
    display: flex;
    align-items: center;
    color: var(--text-purple);
    gap: 1rem;
}

.text h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.03em;
    color: var(--text-primary);
    margin: 1rem 0 2rem;
}
.text h1 span {
    color: var(--text-purple);
}

.text p {
    color: var(--text-secondary);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.02em;
}

.input {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 90%;
    gap: 1rem;
}

.input input {
    flex: 1;
    padding: 0.5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: rgba(174, 174, 174, 0.3);
    background-color: #21212B;
    border: none;
    outline: none;
    border-radius: 5px;
    border-bottom-right-radius: 20px;
}

.input button {
    padding: 0 3rem;
    background: linear-gradient(180deg, #6D6D8A 0%, #37374A 100%);
    box-shadow: 0px 139.947px 111.957px rgba(0, 0, 0, 0.25), 0px 90.7062px 65.5676px rgba(0, 0, 0, 0.189815), 0px 53.9054px 35.6605px rgba(0, 0, 0, 0.151852), 0px 27.9893px 18.1931px rgba(0, 0, 0, 0.125), 0px 11.4031px 9.12245px rgba(0, 0, 0, 0.0981481), 0px 2.5916px 4.40573px rgba(0, 0, 0, 0.0601852);
    border-radius: 5px;
    border-top-left-radius: 20px;
    cursor: pointer;
    border: none;
    outline: none;
}
